[Desktop Entry]
Name=File Explorer
GenericName=File Manager
Comment=Browse folders, libraries, computers, and network locations
Exec=aero7-file-explorer %u
Icon=system-file-manager
Type=Application
Categories=Qt;System;FileTools;FileManager;
MimeType=inode/directory;
InitialPreference=20
Keywords=files;folders;libraries;computer;network;Explorer;
X-DBUS-ServiceName=org.aero7.FileExplorer
X-KDE-Shortcuts=Meta+E
StartupWMClass=aero7-file-explorer
